<%- include("../includes/header.ejs", {title:"Add New Address"}); %>
    <h1>Add New School</h1>
    <form action="/school/insert" method="get">
        School Name: <input id="school_name" name="school_name" type="text" />
        <br />
        <br />
        Address
        <br />
        <select id="address_id" name="address_id" multiple="multiple">
            <% for(var i=0;(select count(*) from address) > i; i++ ) { %>
                <option value="<%= address[i].address_id %>"><%= address[i].street + ', ' + address[i].zip_code %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin:
        <script type="text/javascript">
            $(document).ready(function() {
                $('#address_id').multiselect();
            });
        </script>
-->

        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>

